<%- include('partials/header') %>
<h1>Compose</h1>
<form action="/compose" method="post">

  <label><strong>Title</strong></label>

  <div class="input-group">
    <input type="text" class="form-control" name="postTitle">
  </div>

  <label><strong>Post</strong></label>
  <div class="input-group input-group-lg">
    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
  </div>
  <button class="btn btn-primary publishbtn" type="submit" name="publishButton">Publish</button>
</form>
<%- include('partials/footer') %>
